In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('monsters_20200517.csv')
df2 = pd.read_csv('monsters_20200524.csv')

In [3]:
df1.head()

,date,monster,family,element,acquired,build,id
0,2020-05-18,Hellhound,Hellhound,Fire,Unknown Scroll (tutorial),no,-3
1,2020-05-18,Fairy,Fairy,Water,Mystical Scroll (tutorial),no,-2
2,2020-05-18,Vagabond,Vagabond,Wind,Unknown Scroll (tutorial),no,-1
3,2020-05-18,Horned Frog,Horned Frog,Fire,Unknown Scroll,yes,1
4,2020-05-18,Mimick,Mimick,Water,Unknown Scroll,yes,2

In [4]:
df2.head()

,date,monster,family,element,acquired,build,id
0,2020-05-24,Rainbowmon,Rainbowmon,Light,6-star Evolution Reward (first Water Monster -...,no,346
1,2020-05-24,Surprise Box,Surprise Box,Fire,Magic Shop,yes,347
2,2020-05-24,Low Elemental,Low Elemental,Fire,Unknown Scroll,no,348
3,2020-05-24,Sandman,Sandman,Water,Unknown Scroll,no,349
4,2020-05-24,Slime,Slime,Fire,Unknown Scroll,no,350

In [5]:
df1_new = df1['monster family element acquired build date id'.split()].copy()
df2_new = df2['monster family element acquired build date id'.split()].copy()

In [6]:
df1_new

,monster,family,element,acquired,build,date,id
0,Hellhound,Hellhound,Fire,Unknown Scroll (tutorial),no,2020-05-18,-3
1,Fairy,Fairy,Water,Mystical Scroll (tutorial),no,2020-05-18,-2
2,Vagabond,Vagabond,Wind,Unknown Scroll (tutorial),no,2020-05-18,-1
3,Horned Frog,Horned Frog,Fire,Unknown Scroll,yes,2020-05-18,1
4,Mimick,Mimick,Water,Unknown Scroll,yes,2020-05-18,2
...,...,...,...,...,...,...,...
343,Rainbowmon,Rainbowmon,Light,Event Reward (6-Year Coin Shop Event),no,2020-05-23,341
344,Mimick,Mimick,Wind,Mt. Siz 6 (Hard),no,2020-05-23,342
345,Skull Soldier,Skull Soldier,Wind,Magic Shop,no,2020-05-23,343
346,Monster Flower,Monster Flower,Fire,Magic Shop,no,2020-05-23,344
347,Skull Soldier,Skull Soldier,Water,Magic Shop,no,2020-05-23,345

In [7]:
df2_new

,monster,family,element,acquired,build,date,id
0,Rainbowmon,Rainbowmon,Light,6-star Evolution Reward (first Water Monster -...,no,2020-05-24,346
1,Surprise Box,Surprise Box,Fire,Magic Shop,yes,2020-05-24,347
2,Low Elemental,Low Elemental,Fire,Unknown Scroll,no,2020-05-24,348
3,Sandman,Sandman,Water,Unknown Scroll,no,2020-05-24,349
4,Slime,Slime,Fire,Unknown Scroll,no,2020-05-24,350
...,...,...,...,...,...,...,...
90,Rainbowmon,Rainbowmon,Light,6-star Evolution Reward (first Fire Monster - ...,no,2020-05-26,436
91,Surprise Box,Surprise Box,Fire,Magic Shop,no,2020-05-26,437
92,Horned Frog,Horned Frog,Water,Unknown Scroll,no,2020-05-26,438
93,Forest Keeper,Forest Keeper,Water,Unknown Scroll,no,2020-05-26,439
94,Sandman,Sandman,Water,Unknown Scroll,no,2020-05-26,440

In [8]:
df1_new.to_csv('monsters_20200517_new.csv', index=False)
df2_new.to_csv('monsters_20200524_new.csv', index=False)